
bot_debug_enabled="True"
bot_discord_token=""
bot_timezone="UTC"
bot_enabled_cogs=["bot.cogs.birthdays"]
bot_guild_id=""
bot_sqlite_db_path="bot/db/_database.db"

birthday_tools_enabled="True"
birthday_role=""
birthday_announce_channel=""

birthday_announce_embed_image_url="https://src.run/get/media/images/dispatch/dispatch-birthday_4x5.png"
birthday_announce_embed_author_icon_url="https://src.run/get/media/images/dispatch/visi-large-white-bg-with-border.png"
birthday_announce_embed_author_name="Invisigal"
